<form action="/addCliente" method="POST">
    <p>Nome: </p>
    <input type="text" name="nome">
    <p>Telefone: </p>
    <input type="text" name="telefone">
    <p>Celular: </p>
    <input type="text" name="celular">
    <p>Email: </p>
    <input type="text" name="email">
    <button type="submit">Cadastrar cliente</button>
</form>