<div class="jumbotron">
  <h1 class="display-5">Seja bem vindo a pagina de SISTEMAS DE ENERGIA</h1>
  <p class="lead">Sistemas de Energia terá um front end simples</p>
  <hr class="my-4">
  <p>Sistemas de Energia foi desenvolvido para o trabalho final de PCS com SGBD.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Crie um usuário</a>
  </p>
</div>

