{{#each erros}}
 <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3> Nova Unidade Consumidora </h3>

<div class="card">
    <div class="card-body">
    
    <form action="/unidadesconsumidoras/cadastrar" method="POST">
    <label for="cidade"> Cidade: </label>
        <input type="text" id="cidade" name="cidade" placeholder="Cidade da Unidade Consumidora" class="form-control">
    <label for="estado"> Estado: </label>
        <input type="text" id="estado" name="estado" placeholder="Estado da Unidade Consumidora" class="form-control">
    <label for="bairro"> Bairro: </label>
        <input type="text" id="bairro" name="bairro" placeholder="Bairro da Unidade Consumidora" class="form-control">
    <label for="lugradouro"> Lugradouro: </label>
        <input type="text" id="lugradouro" name="lugradouro" placeholder="Lugradouro da Unidade Consumidora" class="form-control">
    <label for="numero"> Numero: </label>
        <input type="text" id="numero" name="numero" placeholder="Numero da Unidade Consumidora" class="form-control">
    <label for="complemento"> Lugradouro: </label>
        <input type="text" id="complemento" name="complemento" placeholder="Complemento da Unidade Consumidora" class="form-control">
    <label for="instalacao"> Instalação: </label>
    <select name="instalacao" id="instalacao" class="form-control">
        <option value="pendente">Pendente</option>
    </select>
    <label for="idcliente"> ID Cliente: </label>
    <input type="text" id="idcliente" name="idcliente" placeholder="ID do Cliente" class="form-control">
    
    <br>
    <button type="submit" class="btn btn-success">Incluir Nova Unidade Consumidora</button>
   </div>
   </form>
</div>
